parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast Illuminate\\\\Contracts\\\\View\\\\Factory\\|Illuminate\\\\Contracts\\\\View\\\\View to string\\.$#"
			count: 1
			path: src/LoginCaptchaServiceProvider.php

		-
			message: "#^Function login_captcha_content\\(\\) should return string but returns void\\.$#"
			count: 1
			path: src/Support/helpers.php

		-
			message: "#^Result of static method Guanguans\\\\DcatLoginCaptcha\\\\Facades\\\\CaptchaBuilder\\:\\:get\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Support/helpers.php

		-
			message: "#^Result of static method Guanguans\\\\DcatLoginCaptcha\\\\Facades\\\\CaptchaBuilder\\:\\:getPhrase\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Support/helpers.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$value\\.$#"
			count: 1
			path: updates/2022_08_31_164022_update_admin_settings_for_dcat_login_captcha.php
